body{
overflow-x: none; 
}

#container{		
	display: block;
	height: 500px;	
	width:1000px;
	background-color: #F5DEB3;
}

.sticker {	
	position: absolute;
	border:5px solid grey;
	resize: none;
	border-radius: 5px;	
	display: block;
	overflow-x: hidden; 
	overflow-y: auto;
	height: 150px;	
	width:200px;
	background-color: #00D0A4;
	color: #000000;
	margin: 10px;
}


.sticker_default{	
	resize: none;
	border-radius: 5px;
	float:left;
	display: block;
	overflow: none;
	height: 150px;	
	width:200px;
	background-color: #00D0A4;
	color: #000000;
	margin: 10px;
}